body{
  background-color:black ;
  color:white;
  /* background: linear-gradient(45deg, #000000, #2d3436);
  background: linear-gradient(45deg, #000, #130F40);
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
}

